.deps/
.DS_Store
build/
xcuserdata/
project.xcworkspace/
Makefile
Makefile.in
GNUmakefile
lib*.a
*.o

/aclocal.m4
/AlephOne.spec
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/Source_Files/CSeries/confpaths.h

/Source_Files/alephone
/Source_Files/*.exe
/*.zip
/*.tar.bz2

# VisualStudio specific
Debug/
Release/
Source_Files/packages
.vs/
*.vcxproj.user
*.aps
