1 VERSIONINFO
FILEVERSION WIN_VERSION_STRING 
PRODUCTVERSION WIN_VERSION_STRING
FILEFLAGSMASK 0
FILEOS 0x40000
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "AppName", "Aleph One"
   VALUE "AppVersion", "A1_DISPLAY_VERSION"
   VALUE "BuildDate", "BUILDDATE"
   VALUE "FileVersion", "A1_DISPLAY_VERSION"
   VALUE "FileDescription", "Aleph One/SDL for Win32"
   VALUE "LegalCopyright", "GNU General Public License"
   VALUE "License", "GNU General Public License (For details, see the file COPYING)"
   VALUE "OriginalFilename", "AlephOne.exe"
   VALUE "URL", "http://marathon.sourceforge.net"
  }
 }
}

AppIcon ICON "../Resources/Windows/alephone.ico"
