<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>shpA</string>
				<string>shps</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ShapesIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Aleph One Shapes File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>shp∞</string>
				<string>shp2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.bungie.source.shapes</string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sndA</string>
				<string>snds</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SoundsIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Aleph One Sound Data</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>snd∞</string>
				<string>snd2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.bungie.source.sounds</string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>imgA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ImagesIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Aleph One Interface Images</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>img∞</string>
				<string>img2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.bungie.source.images</string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>filA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FilmIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Aleph One Replay</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fil∞</string>
				<string>fil2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.bungie.source.film</string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sceA</string>
				<string>scen</string>
				<string>sce</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MapIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Aleph One Map File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sce∞</string>
				<string>sce2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.bungie.source.map</string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MMLIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Aleph One XML Configuration</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.bungie.source.mml</string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pfhr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PFIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Aleph One Pfhortran Script</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.bungie.source.pfhortran</string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>phyA</string>
				<string>phys</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PhysIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Aleph One Physics File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>phy∞</string>
				<string>phy2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.bungie.source.physics</string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sgaA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SaveIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Aleph One Saved Game</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sga∞</string>
				<string>sga2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.bungie.source.save</string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>musA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MusakIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Aleph One Music</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIFF</string>
				<string>MPEG</string>
				<string>MP3 </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>NSDocumentClass</key>
			<string>org.bungie.source.music</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>a1bndl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>package.icns</string>
			<key>CFBundleTypeName</key>
			<string>Aleph One Bundle</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.bungie.source.bundle</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>appl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ImagesIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Aleph One External Resources</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.bungie.source.resources</string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Marathon 2</string>
	<key>CFBundleIconFile</key>
	<string>Marathon 2.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Marathon 2</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>A1_DISPLAY_VERSION</string>
	<key>CFBundleSignature</key>
	<string>26.A</string>
	<key>CFBundleVersion</key>
	<string>A1_DATE_VERSION</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.action-games</string>
	<key>LSEnvironment</key>
	<dict>
		<key>ALEPHONE_FINDER_LAUNCH</key>
		<string>1</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aleph One Shapes File</string>
			<key>UTTypeIconFile</key>
			<string>ShapesIcon</string>
			<key>UTTypeIdentifier</key>
			<string>org.bungie.source.shapes</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>shp∞</string>
					<string>shp2</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>shpA</string>
					<string>shps</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aleph One Sound Data</string>
			<key>UTTypeIconFile</key>
			<string>SoundsIcon</string>
			<key>UTTypeIdentifier</key>
			<string>org.bungie.source.sounds</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>snd∞</string>
					<string>snd2</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>sndA</string>
					<string>snds</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aleph One Interface Images</string>
			<key>UTTypeIconFile</key>
			<string>ImagesIcon</string>
			<key>UTTypeIdentifier</key>
			<string>org.bungie.source.images</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>img∞</string>
					<string>img2</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>imgA</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aleph One Replay</string>
			<key>UTTypeIconFile</key>
			<string>FilmIcon</string>
			<key>UTTypeIdentifier</key>
			<string>org.bungie.source.film</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>fil∞</string>
					<string>fil2</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>filA</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aleph One Map File</string>
			<key>UTTypeIconFile</key>
			<string>MapIcon</string>
			<key>UTTypeIdentifier</key>
			<string>org.bungie.source.map</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>sce∞</string>
					<string>sce2</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>sceA</string>
					<string>scen</string>
					<string>sce</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aleph One XML Configuration</string>
			<key>UTTypeIconFile</key>
			<string>MMLIcon</string>
			<key>UTTypeIdentifier</key>
			<string>org.bungie.source.mml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aleph One Pfhortran Script</string>
			<key>UTTypeIconFile</key>
			<string>PFIcon</string>
			<key>UTTypeIdentifier</key>
			<string>org.bungie.source.pfhortran</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pfhr</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aleph One Physics File</string>
			<key>UTTypeIconFile</key>
			<string>PhysIcon</string>
			<key>UTTypeIdentifier</key>
			<string>org.bungie.source.physics</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>phy∞</string>
					<string>phy2</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>phyA</string>
					<string>phys</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aleph One Saved Game</string>
			<key>UTTypeIconFile</key>
			<string>SaveIcon</string>
			<key>UTTypeIdentifier</key>
			<string>org.bungie.source.save</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>sga∞</string>
					<string>sga2</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>sgaA</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aleph One Bundle</string>
			<key>UTTypeIconFile</key>
			<string>package</string>
			<key>UTTypeIdentifier</key>
			<string>org.bungie.source.bundle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>a1bndl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aleph One External Resources</string>
			<key>UTTypeIconFile</key>
			<string>ImagesIcon</string>
			<key>UTTypeIdentifier</key>
			<string>org.bungie.source.resources</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>appl</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
