name: mac-osx-arm

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - name: Build
        uses: ./.github/actions/build-mac-osx
        with:
          vcpkg_installed_folder: installed-arm64-osx
          vcpkg_arch: arm
          xcode_arch: arm64